.main-container {
    background-color: #BDBDB7;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.picture-myself {
    border-radius: 50%;
}
.text-justify {
    color: #010124
}
.container-1 {
    margin-top: 0;
    padding-top: 0;
    height: 300px;
    width: 400px
}

.summary {
    width: 100%;
    padding-right: 100px;
}

.text-justify {
    text-align: justify;
}

.fw-normal {
    margin-top: 20px;
    font-weight: bolder;
}

.marketing {
    margin-left: 40px;
}

.skills {
    margin-left: 0;
    padding-left: 0;
}

.skill-pictures {
    border-radius: 50%;
}

.skills-education {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.education {
    padding: 0;
    margin: 0;
}

.ap {
    margin-left: 40px;
    margin-right: 40px;
}
.ap-container {
    display: grid;
    grid-template-rows: 325px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.achievement {
    border: 3px solid white;
}

.texts {
    float: left;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
    justify-content: flex-end;
}

.btn {
    display: inline;
    width: 150px;
}

.link {
    color: #010124;
}

@media (max-width:1100px) {
    .text-body-emphasis {
        padding-left: 0;
    }

    .fw-normal {
        margin-top: 20px;
    }

    .skill-summary {
        margin-bottom: 50px;
    }

    .ap-container {
        display: flex;
        flex-direction: column;
    }

    .achievement {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }

    .image {
        height: 350px;
    }
}

@media (max-width:800px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
    
    .social-media {
        margin-top: 10px;
        margin-left: 70px;
    }

    .contact {
        margin-left: 50px;
    }
}